* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #d6d3cd;
}
button {
  color: #d6d3cd;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #1c1c1c;
}

.container-center {
  width: 26.05rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.top {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h1 {
  font-size: 2.5rem;
}

.top-right i {
  cursor: pointer;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}
.restart {
  background-color: transparent;
  border: 1px solid #c0c0c0;
  font-size: 1rem;
  border-radius: 0.35rem;
  cursor: pointer;
  padding: 0.45rem 0.75rem;
}

.pause {
  background-color: transparent;
  border: 1px solid #c0c0c0;
  font-size: 1rem;
  border-radius: 0.35rem;
  cursor: pointer;
  padding: 0.45rem 0.75rem;
}

.indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}
.indicator {
  text-align: right;
}
.indicator p {
  margin-bottom: 0.25rem;
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.35rem;
  margin-bottom: 2rem;
  position: relative;
}

.pause-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inactive {
  display: none;
}

.play-btn {
  font-size: 3.5rem;
  cursor: pointer;
}
.single-cell {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.single-item {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #505050;
  border-radius: 0.25rem;
  cursor: pointer;
}

.instructions {
  width: 100%;
}
.instructions h2 {
  margin-bottom: 1rem;
}
.instructions p {
  text-align: justify;
  line-height: 1.5rem;
}

@media (max-width: 500px) {
  .container-center {
    width: calc(80vw + 1.05rem);
  }

  .single-item {
    width: 20vw;
    height: 20vw;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .buttons button {
    width: 100%;
  }
  .indicators {
    column-gap: 1.5rem;
  }
  header {
    margin-bottom: 1rem;
  }
}
